:root {
    --light: #f6f6f9;
    --dark: #000000;
  
    --primary: #388e3c;
    --secondary: #d32f2f;
  
    /* other stuffs.... */
    --grey: #eee;
    --dark-grey: #aaaaaa;
    --danger: #d32f2f;
    --light-danger: #fecdd3;
    --warning: #fbc02d;
    --light-warning: #fff2c6;
    --success: #388e3c;
    --light-success: #bbf7d0;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,
  body {
    width: 100vw;
    height: 100vh;
    font-family: "Inter", sans-serif;
    background-color: transparent;
  }
  .header{
    width: 100vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--grey);
    gap: 1rem;
  }

  .link ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
  }
  #print-button {
    width: 90%;
    background-color: var(--success); /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#print-button:hover {
    background-color: #45a049; /* Darker green */
}

.input-text{
    padding: 0.1rem;
    margin: 0.1rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
    font-size: 1.12rem;
}
.input-text input{
    border: none;
    border-bottom: 2px solid var(--dark-grey); /* Bottom border */
    outline: none;
    font-size: 1rem;
    transition: border-color 0.3s;
    }

label{
    padding-right: 0.5rem;
}

.container {
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }
#a4-container {
    position: relative;
    padding: 0.5rem;
    width: 210mm;
    height: 297mm;
    background-image: url(./img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);;
}
#content{
    width: 100%;
    padding: 0.5rem;
    position: relative;
    transition: transform 0.3s ease;
    opacity: 1;
    background-color: white;
}
.report{
    text-align: center;
}
.report-table{
    width: 100%;
    border-collapse: collapse;
    text-align: start;
    margin-bottom: 0.5rem;
}
.report-table thead{
    border-bottom: 1px solid var(--dark-grey);
    border-top: 1px solid var(--dark-grey);
    text-align: start;
}
.report-table thead th{
    text-align: start;
}
@media print {
    .header{
        display: none;
    }
    .input-text input{
        border-bottom: none; 
    }
    input{
        border: none; 
        outline: none;
        border-bottom: none;
    }
    input[type="text"]{
        border-bottom: none;
    }
    #a4-container, #a4-container * {
        visibility: visible;
        background: transparent;
    }
    #a4-container {
        width: 794px; /* Width of A4 in pixels */
        height: 1123px; /* Height of A4 in pixels */
        position: absolute;
        left: 0;
        top: 0;
    }
    #deleteButton{
        display: none;
        visibility: hidden;
    }
    #removeCheck{
        display: none;
        visibility: hidden;
    }
    .content{
        visibility: visible;
    }
    .form-container{
        display: none;
    }
    .value-field{
        outline: none;
        border-bottom: none;
        box-sizing: content-box;
    }
    
}
